<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>flex-shrink</title>
    <style type="text/css">
      .container{width: 600px;margin: 20px;line-height: 40px;font-size: 20px;color: #fff;background-color: #963297;}
      .item{margin: 10px;width: 300px;line-height: 40px;text-align: center;background-color: #c99702;}

      .container{display: flex;}
      /*.item{flex-shrink: 0;}*/
      .item2{flex-shrink: 2;}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="item item1">sets the flex shrink factor</div>
      <div class="item item2">sets the flex shrink factor</div>
      <div class="item item3">sets the flex shrink factor</div>
    </div>
  </body>
</html>